<div id="stats-panel" class="box ff-charsheet">
  <h3 class="ff-section-head">{{:l10n.stat_panel_title}}</h3>
  {{for stat in stats}}
  <div class="ff-stat-row">
    <div>
      <span class="ff-stat-name">{{:stat.display_name}}</span>
      {{if stat.is_integer}}<br><span class="ff-stat-start">start {{:stat.start_value}}</span>{{endif}}
    </div>
    <div>
      {{if stat.is_integer}}
      <button class="button is-touch ff-stat-btn ff-numeric"
              hx-get="/adventures/{{:adventure.id}}/stats/{{:stat.stat_def_id}}/modal"
              hx-target="#modal-host" hx-swap="innerHTML">
        {{:stat.value}}
      </button>
      {{else}}
      <span class="ff-numeric">{{:stat.value}}</span>
      {{endif}}
    </div>
  </div>
  {{endfor}}
</div>
