{{extends "../../layouts/base.html"}}
{{block "title"}}{{:adventure.title}} - {{:l10n.app_name}}{{endblock}}
{{block "content"}}
<div class="level">
  <div class="level-left">
    <div>
      <h1 class="title">{{:adventure.title}}</h1>
      <p class="subtitle is-6">{{:book_title}} &mdash; {{:l10n.lbl_status}}: {{:adventure.status}}</p>
    </div>
  </div>
  <div class="level-right">
    <form method="post" action="/adventures/{{:adventure.id}}/status" class="buttons">
      <button class="button is-success" name="status" value="completed">{{:l10n.adv_btn_complete}}</button>
      <button class="button is-warning" name="status" value="abandoned">{{:l10n.adv_btn_abandon}}</button>
    </form>
  </div>
</div>

<div class="columns">
  <div class="column is-one-third">
    {{include "../../partials/_stats_panel.html"}}
    {{include "../../partials/_inventory_panel.html"}}
    {{include "../../partials/_dice_panel.html"}}
  </div>
  <div class="column">
    <div class="tabs">
      <ul>
        <li id="tab-timeline-li" class="is-active"><a id="tab-timeline" onclick="document.getElementById('timeline-area').style.display='';document.getElementById('graph-area').style.display='none';document.getElementById('tab-timeline-li').classList.add('is-active');document.getElementById('tab-graph-li').classList.remove('is-active');">{{:l10n.tab_timeline}}</a></li>
        <li id="tab-graph-li"><a id="tab-graph" onclick="document.getElementById('timeline-area').style.display='none';document.getElementById('graph-area').style.display='';document.getElementById('tab-graph-li').classList.add('is-active');document.getElementById('tab-timeline-li').classList.remove('is-active');">{{:l10n.tab_graph}}</a></li>
      </ul>
    </div>
    {{include "../../partials/_timeline.html"}}
    {{include "../../partials/_graph_tab.html"}}
    <hr>
    {{include "../../partials/_step_form.html"}}
  </div>
</div>
{{include "../../partials/_value_modal.html"}}
<script>window.ffAdventureId = {{:adventure.id}};</script>
{{endblock}}
